<!DOCTYPE html>
<html
        xmlns:th="http://www.w3.org/1999/xhtml"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorator="layout/template">
<head lang="en">
    <title>Home</title>
</head>
<body>
<div class="row" layout:fragment="content">
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Dashboard</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">

                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>Fecha</th>
                                <th>Tipo de Producto</th>
                                <th>Categoria</th>
                                <th>Establecimiento</th>
                                <th>Estatus</th>
                                <th>Acciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="report: ${reports}">
                                <td th:text="${report?.date}">Fecha</td>
                                <td th:text="${report?.category?.productType?.name}">ProductType</td>
                                <td th:text="${report?.category?.name}">Categoria</td>
                                <td th:text="${report?.commerceName}">address</td>
                                <td th:text="${report?.status?.name}">status</td>
                                <td>
                                    <a class="btn-floating btn-large waves-effect waves-light red"
                                       th:href="@{/report/edit/{reportId}/(reportId=${report.id})}"><i
                                            class="material-icons">Trabajar Denuncia</i></a>

                                </td>
                            </tr>

                            </tbody>
                        </table>

                    </div>
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <img class="image-responsive" src="/imgs/reclamaciones.PNG" style="width: 100%"/>
                        </div>
                        <div class="col-md-6">
                            <img class="image-responsive" src="/imgs/reclamacion_por_one.PNG" style="width: 96%;"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>