<!DOCTYPE html>
<html
        xmlns:th="http://www.w3.org/1999/xhtml"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorator="layout/template"
        >
<head lang="en">
    <title>Home</title>
</head>
<body>
<div class="row" layout:fragment="content">
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Descripción del Producto</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <form role="form" th:object="${report}">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Denuncia del Cliente</label>
                                    <textarea rows="2" class="form-control" th:field="*{note}"
                                              disabled="disabled"
                                              placeholder="Escribe una breve descripción de tu denuncia.."></textarea>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <h3>Datos del Producto</h3>
                                <!-- text input -->
                                <div class="form-group">
                                    <label>Tipo de Producto</label>
                                    <input type="text" class="form-control" disabled="disabled"
                                           th:value="*{category?.productType?.name}"/>
                                </div>
                                <div class="form-group">
                                    <label>Categoría</label>
                                    <input type="text" class="form-control" disabled="disabled"
                                           th:value="*{category?.name}"/>
                                </div>
                                <div class="form-group">
                                    <label>Nombre del Producto</label>
                                    <input type="text" class="form-control" disabled="disabled"
                                           th:value="*{productName}"/>
                                </div>

                                <div class="form-group">
                                    <label>Marca</label>
                                    <input type="text" class="form-control" disabled="disabled"
                                           th:value="*{brand}"/>
                                </div>

                                <div class="form-group">
                                    <label>Volumen</label>
                                    <input type="text" class="form-control" disabled="disabled"
                                           th:value="*{volume}"/>
                                </div>

                                <div class="form-group">
                                    <label>Número de Lote</label>
                                    <input type="text" class="form-control" disabled="disabled"
                                           th:value="*{lote}"/>
                                </div>

                            </div>
                            <div class="col-md-6">

                                <h3>Datos del Establecimiento</h3>

                                <div class="form-group">
                                    <label>Nombre</label>
                                    <input type="text" class="form-control" disabled="disabled"
                                           th:value="*{commerceName}"/>
                                </div>

                                <div class="form-group">
                                    <label>RNC</label>
                                    <input type="text" class="form-control" disabled="disabled"
                                           th:value="*{commerceRnc}"/>
                                </div>

                                <div class="form-group">
                                    <label>Dirección del Comercio</label>
                                    <input type="text" class="form-control" disabled="disabled"
                                           th:value="*{commerceAddress}"/>
                                </div>

                                <div class="form-group">
                                    <a class="btn btn-primary btn-block" th:href="*{url}" th:if="${report?.lat}"
                                       target="_blank">Mostrar
                                        Ubicación
                                    </a>
                                </div>
                                <!--IMGS THUMBNAIL-->

                                <h3>Pruebas de la Denuncia</h3>

                                <div class="col-md-12">
                                    <div class="thumbnail text-center" th:each="img : *{problemImages}">
                                        <img class="img-responsive" th:src="${img.image}" alt="Lights"
                                             style="width:25%"/>

                                        <div class="caption" th:each="desc : ${img.problems}">
                                            <p th:text="${desc.name}"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>